.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox--input {
    display: flex;
    padding: 20px;
}

.tweetBox--input > input {
    flex: 1;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}

.tweetBox--tweetButton {
    background-color: var(--twitter-color) !important;
    color: white !important;
    border: none !important;
    border-radius: 30px !important;
    font-weight: 900 !important;
    height: 50px !important;
    margin-top: 20px !important;
    text-transform: inherit !important;
    width: 80px;
    height: 40px !important;
    margin-left: auto !important;
}

.tweetBox--imgInput {
    border: none;
    padding: 10px;
}
.tweetBox--otherIcons {
    flex: 1;
    margin-bottom: 20px;
    margin-left: 20px;
    color: grey;
}